body {
  /*margin: 16px;*/
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.calculator {
  /*position: relative;*/
  color: green;
  width: 700px;
  min-width: 700px;
  overflow: hidden;
  height: fit-content;
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 5px;
  border: 5px solid Gray;
  /*padding: 2px;*/
}

/*.calculator-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}*/

/*.calculator-content{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}*/

.calculator h1 {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  text-decoration: underline;
}

.input-content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.result-content {
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
}

/*.text-margin-0{
  margin: 0;
}*/

.input-cont-child {
  margin: 10px;
  /*display: flex;
  flex-direction: column;
  justify-content: space-between;*/
}

select option[data-default] {
  color: #888;
}

/*.equal-sign{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}*/

@media(max-width: 800px) {
  .calculator {
    width: 80%;
    min-width: 0;
    overflow: scroll;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 5px;
    border: 5px solid Gray;
  }

  .calculator h1 {
    text-align: start;
    font-family: 'Orbitron', sans-serif;
    text-decoration: underline;
  }

  .input-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*align-items: baseline;*/
  }
}